.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Cover, .Disk, .Booklet {
  border: 1px black solid;
  width: 70vw;
  height: 35vh;
  margin: 25px auto;
}

.Cover, .Disk, .Booklet {
  background-color: black;
  color: white;
  font-size: 10vw;
}

.Disk {
  border-radius: 35vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
}

.Nav {
  position: fixed;
}

.Page {
  border: 1px black dotted;
}

.Booklet, .Disk, .Nav {
	visibility: hidden;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: .5s;
	-webkit-animation-duration: .5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible;
}

.slideUp {
  -webkit-animation: slideUp .5s ease;
  -moz-animation: slideUp .5s ease;
  -ms-animation: slideUp .5s ease;
  -o-animation: slideUp .5s ease;
  animation: slideUp .5s ease;
  visibility: visible;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
  0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@-webkit-keyframes slideUp {
  0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

/*Disk Component*/

#first {
  position:relative;
  width:267px;
  height:25px;
  overflow:hidden;
}

#second {
  position:absolute;
  top:-276px;
  left:-5px
}

audio {
  opacity: 0;
}

#spinDiv {
  position: absolute;
    z-index: -1;
    border-radius: 35vw;
    width: 70vw;
    height: 35vh;
    margin: 25px auto;
    margin-top: -1px;
    background: -webkit-linear-gradient(red, yellow);
}

.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.stopSpin {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -ms-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
