.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Cover, .Disk, .Booklet {
  width: 7.5em;
  height: 7em;
  margin: 25px auto;
  background-color: black;
  color: white;
  font-size: 10vw;
}

@media (min-width: 800px){
  .Cover, .Booklet {
    width: 5.5em;
    height: 5em;
  }
}

.Nav {
  position: fixed;
  text-align: center;
  height: 4em;
  width: 100%;
  background-color: black;
  top: 0;
  color: white;
  font-size: 15px;
}

#navControls {
  padding: 1.25em 0;
}

.Page {
  border: 1px black dotted;
}

.Booklet, .Nav {
	visibility: hidden;
}

.Booklet {
  display: none;
}

@media (min-width: 768px) {

}

.glyphicon {
  margin-left: 10px !important;
}

.slideDown {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: .5s;
	-webkit-animation-duration: .5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible;
  display: block;
}

.slideUp {
  -webkit-animation: slideUp .5s ease;
  -moz-animation: slideUp .5s ease;
  -ms-animation: slideUp .5s ease;
  -o-animation: slideUp .5s ease;
  animation: slideUp .5s ease;
  visibility: visible;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
  0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@-webkit-keyframes slideUp {
  0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

/*Cover FLIP*/

.flip-container {
  perspective: 1000px;
}
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
/*.flip-container,
.Front,
.Back {
  width: 320px;
  height: 480px;
}*/
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  margin: 0 auto;
}
.Front,
.Back {
  backface-visibility: hidden;
  /*position: absolute;*/
  /*top: 0;
  left: 0;*/
}
.Front {
  z-index: 2;
  transform: rotateY(0deg);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.Back {
  transform: rotateY(180deg);
  /*position: absolute;*/
}

/*Cover Component*/

/*Disk Component*/

.Disk {
  position: relative;
 display: inline-block;
 width: 85%;
 height: 0;
 padding: 40% 0px;
 border-radius: 50%;
 background-color: transparent;
 border: none;
 text-align: center;

}

#spinDiv {
  position: absolute;
    z-index: -1;
    /*display: inline-block;*/
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    margin-top: -50%;
    background: -webkit-linear-gradient(red, yellow);
}

@media (min-width: 768px) {
  .Disk {
    width: 75%;
  }
}

audio {
  opacity: 0;
}

#first {
  position:relative;
  width: 267px;
  height: 25px;
  overflow: hidden;
}

#second {
  position:absolute;
  top:-276px;
  left:-5px
}

#diskControls{
  display: inline;
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /*padding: 100% 0;*/
}

.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.stopSpin {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -ms-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
